/* Adicionar aqui toda a estilização criada para sua aplicação. */


body {
    margin: 0;
    font-family: sans-serif;
}
/*:root quarda as variaveis*/
:root {
    --azul: #32b9cd;
    --amarela: #e3b062;
}

.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: var(--azul)
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarela);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarela);
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;    
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    height: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
   
}
.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin:0;
    margin-top: 10px;
    color: #e4005a;
}

.footer{
    height: 120px;
    width: 100%;
    background-color: var(--azul);
    display: flex;
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4 {
    margin-bottom: 0;
}

.login {
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    height: 805px; 
    width: 100%;
}

.login .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 600px;
    height: 250px;
}

.card {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.card h2 {
    color: #e4005a;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo input {
    width: 400px;
    height: 30px;
    border: 2px solid var(--azul);
    border-radius: 5px;
    text-align: center;
}

.login .container .campo span {
    
    font-weight: 800;
    margin-bottom: 5px;
}

.login .container h2{
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
 }

.login .container h2, span{
    color: #DD6F94;
    font-weight: bolder;
}

.botao {
    background-color: #e4005a;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    width: 95px;
    height: 35px;
    margin-bottom: 10px;
}

.card-cadastro{
    width: 600px;
    height: 450px;
    display: flex;
}